
<!--<div class="container">

  <h1 style="margin-top: 25px;">
  Ajouter utilisateur
  </h1>

  <div class="row" style="margin-top: 25px;">
    <div class="form-group col-12">
      <input type="file" (change)="onFileSelected($event)" [(ngModel)]="UserImage"/>
     </div>
    <div class="col-md-3">
      <input type="text" class="form-control" [(ngModel)]="UserName" placeholder="Nom">
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" [(ngModel)]="UserEmail" placeholder="Email">
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" [(ngModel)]="UserAddress" placeholder="Adresse">
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" [(ngModel)]="UserGender" placeholder="Genre">
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" [(ngModel)]="UserNumber" placeholder="Numéro téléphone">
    </div>
    <div class="col-md-3">
      <button type="button" (click)="update()" class="btn btn-primary">+
        Create Student</button>
    </div>
  </div>-->



